body {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: "TT Lakes Regular";
}

@font-face {
	font-family: "TT Lakes Regular";
	src: url(font/TTLakes-Regular.ttf);
	font-weight: normal;
}

@media screen and (min-width: 320px) {
	.readmore {
		display: none;
	}

	.cards {
		display: flex;
		width: auto;
		height: 234px;
		background: #f8f8f8;
		padding-left: 16px;
		margin-left: auto;
		margin-right: auto;
	}

	.cards__text {
		display: block;
		width: 320px;
		height: 80px;
		opacity: 1;
		margin-left: 0px;
		margin-top: 0px;
	}

	.cards__text p {
		display: flex;
		align-items: center;
		width: 288px;
		height: 48px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		text-transform: uppercase;
		color: #7e7e82;
	}

	.swiper-wrapper {
		width: 240px;
		height: 72px;
	}

	.cards-group {
		width: 480px;
		height: auto;
	}

	.cards-item {
		display: block;
		width: 240px;
		height: 72px;
		opacity: 1;
		border-radius: 6px;
		border-width: 1px;
		border: 1px solid #eaeaea;
		background: #ffffff;
	}

	.cards-lenovo {
		width: 108px;
		height: 32px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 20px;
	}

	.cards-lenovo__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 60px;
		margin-top: 16px;
	}

	.cards-samsung {
		width: 116px;
		height: 38.52px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 17px;
	}

	.cards-samsung__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 36px;
		margin-top: 16px;
	}

	.cards-aple {
		width: 44px;
		height: 44px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 12px;
	}

	.cards-aple__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 108px;
		margin-top: 16px;
	}

	.cards-viewsonic {
		width: 128px;
		height: 21px;
		opacity: 1;
		margin-left: 14px;
		margin-top: 26px;
	}

	.cards-viewsonic__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 42px;
		margin-top: 16px;
	}

	.cards-bosh {
		width: 128px;
		height: 28.6px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 21.7px;
	}

	.cards-bosh__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 40px;
		margin-top: 16px;
	}

	.cards-hp {
		width: 52px;
		height: 52px;
		opacity: 1;
		margin-left: 10px;
		margin-top: 10px;
	}

	.cards-hp__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 122px;
		margin-top: 16px;
	}

	.cards-acer {
		width: 94px;
		height: 24px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 24px;
	}

	.cards-acer__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 74px;
		margin-top: 16px;
	}

	.cards-sony {
		width: 128px;
		height: 25.6px;
		opacity: 1;
		margin-left: 14px;
		margin-top: 23px;
	}

	.cards-sony__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 42px;
		margin-top: 16px;
	}

	.swiper-pagina {
		display: block;
		width: 204px;
		height: 12px;
		margin-top: 0px;
		margin-left: 58px;
		gap: 4px;
	}
}

@media screen and (min-width: 768px) {
	.swiper-pagina {
		display: none;
	}

	.cards {
		display: flex;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;
		background: #f8f8f8;
	}

	.cards-list {
		display: grid;
		width: 768px;
		height: auto;
		opacity: 1;
		border-top: 1px solid #d9fff5;
		background: #f8f8f8;
		margin-bottom: 34px;
	}

	.cards__text {
		display: block;
		width: auto;
		height: 24px;
		opacity: 1;
		margin-left: 0px;
		margin-top: 0px;
		border-top: 1px solid #d9fff5;
	}

	.cards__text p {
		width: 338px;
		height: 24px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		text-transform: uppercase;
		background: #f8f8f8;
		color: #7e7e82;
	}

	.swiper-wrapper {
		display: grid;
		grid-template-columns: auto auto auto;
		width: auto;
		height: auto;
		background: #f8f8f8;
		column-gap: 32px;
		row-gap: 16px;
	}

	.cards-group {
		display: grid;
		grid-template-columns: auto auto auto;
		width: 480px;
		height: auto;
		margin-top: 24px;
	}

	.cards-item {
		display: block;
		width: 240px;
		height: 72px;
		opacity: 1;
		border-radius: 6px;
		border-width: 1px;
		border: 1px solid #eaeaea;
		background: #ffffff;
	}

	.cards-item:nth-child(n + 7) {
		display: none;
	}

	.cards-lenovo {
		width: 108px;
		height: 32px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 20px;
	}

	.cards-lenovo__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 44px;
		margin-top: 16px;
	}

	.cards-samsung {
		width: 116px;
		height: 38.52px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 17px;
	}

	.cards-samsung__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 36px;
		margin-top: 16px;
	}

	.cards-aple {
		width: 44px;
		height: 44px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 12px;
	}

	.cards-aple__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 108px;
		margin-top: 16px;
	}

	.cards-bosh {
		width: 128px;
		height: 28.6px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 21.7px;
	}

	.cards-bosh__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 24px;
		margin-top: 16px;
	}

	.cards-hp {
		width: 52px;
		height: 52px;
		opacity: 1;
		margin-left: 10px;
		margin-top: 10px;
	}

	.cards-hp__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 106px;
		margin-top: 16px;
	}

	.cards-acer {
		width: 94px;
		height: 24px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 24px;
	}

	.cards-acer__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 58px;
		margin-top: 16px;
	}

	.readmore-remove {
		display: block;
		background: #f8f8f8;
	}

	.readmore {
		display: flex;
		width: 134px;
		height: 24px;
		opacity: 1;
		margin-top: 24px;
		margin-left: 0px;
	}

	.readmore__img {
		width: 24px;
		height: 24px;
		opacity: 1;
	}
	
	.readmore__text {
		width: 101px;
		height: 24px;
		opacity: 1;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1b1c21;
	}
}

@media screen and (min-width: 1120px) {

	.swiper-pagina {
		display: none;
	}
	.cards {
		display: flex;
		align-items: center;
		width: auto;
		height: auto;
	}

	.cards-line {
		width: 100vw;
		height: 1px;
		opacity: 1;
		border-radius: 1px;
		border-top: 1px solid #d9fff5;
		margin-left: 0px;
		margin-top: 0px;
	}

	.cards-list {
		width: 1120px;
		height: auto;
		opacity: 1;
		border-top: 1px solid #d9fff5;
		background: #f8f8f8;
	}

	.cards__text {
		display: block;
		width: auto;
		height: auto;
		opacity: 1;
		margin-right: auto;
	}

	.cards__text p {
		width: 338px;
		height: 24px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		text-transform: uppercase;
		background: #f8f8f8;
		color: #7e7e82;
		margin-left: 32px;
	}

	.cards-group {
		width: 480px;
		height: auto;
		margin-left: 32px;
	}

	.cards-item {
		display: flex;
		width: 240px;
		height: 72px;
		opacity: 1;
		border-radius: 6px;
		border-width: 1px;
		border: 1px solid #eaeaea;
		background: #ffffff;
	}

	.cards-item:nth-child(n + 7) {
		display: block;
	}

	.cards-lenovo {
		width: 108px;
		height: 32px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 20px;
	}

	.cards-lenovo__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 60px;
		margin-top: 16px;
	}

	.cards-samsung {
		width: 116px;
		height: 38.52px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 17px;
	}

	.cards-samsung__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 52px;
		margin-top: 16px;
	}

	.cards-aple {
		width: 44px;
		height: 44px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 12px;
	}

	.cards-aple__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 124px;
		margin-top: 16px;
	}

	.cards-viewsonic {
		width: 128px;
		height: 21px;
		opacity: 1;
		margin-left: 14px;
		margin-top: 26px;
	}

	.cards-viewsonic__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 42px;
		margin-top: 16px;
	}

	.cards-bosh {
		width: 128px;
		height: 28.6px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 21.7px;
	}

	.cards-bosh__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 40px;
		margin-top: 16px;
	}

	.cards-hp {
		width: 52px;
		height: 52px;
		opacity: 1;
		margin-left: 10px;
		margin-top: 10px;
	}

	.cards-hp__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 122px;
		margin-top: 16px;
	}

	.cards-acer {
		width: 94px;
		height: 24px;
		opacity: 1;
		margin-left: 16px;
		margin-top: 24px;
	}

	.cards-acer__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 74px;
		margin-top: 16px;
	}

	.cards-sony {
		width: 128px;
		height: 25.6px;
		opacity: 1;
		margin-left: 14px;
		margin-top: 23px;
	}

	.cards-sony__go {
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: 42px;
		margin-top: 16px;
	}

	.readmore {
		display: flex;
		width: 100vw;
		height: auto;
		opacity: 1;
		margin-left: 32px;
		background: #f8f8f8;
	}

	.readmore__img {
		width: 24px;
		height: 24px;
		opacity: 1;
	}

	.readmore__text {
		width: 133px;
		height: 24px;
		opacity: 1;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1b1c21;
	}
}
